
.vs/NDN_BeaconFinder/v15/Server/sqlite3/storage.ide-wal
.vs/NDN_BeaconFinder/v15/Server/sqlite3/storage.ide
.vs/NDN_BeaconFinder/v15/Server/sqlite3/db.lock
.vs/NDN_BeaconFinder/v15/.suo
.vs/NDN_BeaconFinder/v15/Server/sqlite3/storage.ide-shm
NDN_BeaconFinder/obj/Debug/resolved_assemblies.txt
NDN_BeaconFinder/obj/Debug/NDN_BeaconFinder.pdb
NDN_BeaconFinder/obj/Debug/NDN_BeaconFinder.dll
NDN_BeaconFinder/obj/Debug/NDN_BeaconFinder.csprojResolveAssemblyReference.cache
